# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/server
backend/server.exe
backend/*.exe

# Dependencies
node_modules/
frontend/node_modules/

# Local Environment Variables
.env
.env.local
.env.*.local

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
